# {{ samba_config_file }} is samba configuration file.
# It is managed by ansible. Don't edit it manually.

{% for section in samba_config_params %}
{% if section.options is defined %}
[{{ section.name | regex_replace("^[0-9]+_") }}]
{% for key,value in section.options.items() %}
    {{ key | regex_replace("_"," ") }} = {{ value }}
{% endfor %}

{% endif %}
{% endfor %}
